/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.line1 { 

    text-align: left;
    color: white;
    background: #161616;
    padding: 10px 20px;
    margin: 3px; 

}


.line2 { 

    text-align: left;
    color: white;
    background: #161616;
    padding: 10px 20px;
    margin: 3px; 
    
}

body {
    background-color: #000;
    color: #00FF00;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Container Styles */
.container {
    background-color: #111;
   
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    
    text-align: center;
    margin: 20px auto;
}

.dashboard-container {
    background-color: #111;
    
    border-radius: 10px;
    padding: 20px;
    width: 90%; /* Ajustado para 90% da tela */
    max-width: 1200px; /* Adicionado limite máximo para larguras muito grandes */
    margin: 20px auto;
    text-align: center;
   
}

.dashboard-containerAfter {
    background-color: #111;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    margin-top: 0px;
    text-align: center;
}

/* Menu Styles */
.navbar {
    background-color: #111;
    border-bottom: 2px solid #00FF00;
    padding: 15px;
    text-align: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li.active a {
    color:white;
}

.navbar ul li a {
    color: #00FF00;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #00cc00;
}

/* Form Styles */
form {
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #222;
    border: 1px solid #00FF00;
    color: #00FF00;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #00FF00;
    color: #000;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #00cc00;
}

/* Error Message */
.error-message {
    color: #ff3333;
    margin-top: 15px;
    font-size: 14px;
}

/* Estilos da tabela */
.dashboard-table {
    width: 100%;
    border-collapse: collapse;
   
}

.dashboard-table th, .dashboard-table td {
    padding: 10px;
    border: 1px solid #777777;
    text-align: left;
}

.dashboard-table thead {
    background-color: #222;
    color: #00FF00;
}

.dashboard-table tbody tr:nth-child(even) {
    background-color: #333;
}

.dashboard-table tbody tr:nth-child(odd) {
    background-color: #111;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        max-width: 90%;
    }

    .dashboard-container {
        max-width: 90%;
    }

    .navbar ul {
        flex-direction: column;
    }

    h1 {
        font-size: 20px;
    }

    input,
    button {
        font-size: 14px;
    }

    .dashboard-table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .dashboard-table thead, .dashboard-table tbody, .dashboard-table th, .dashboard-table td {
        display: block;
    }

    .dashboard-table tr {
        margin-bottom: 15px;
    }

    .dashboard-table th, .dashboard-table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .dashboard-table th::before, .dashboard-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 10px;
        font-weight: bold;
        white-space: nowrap;
    }

    
}
